body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: radial-gradient(circle at center, #000015 10%, #000010 40%, #000000 100%);
    font-family: "Poppins", sans-serif;
    color: white;
}

canvas {
    display: block;
}

#cansnow {
    position: absolute;
    top: 0;
    left: 0;
}

#merry {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    letter-spacing: 10px;
    color: #ffffffcc;
    text-shadow: 0 0 15px #ff88ff, 0 0 30px #ff44ff;
    opacity: 0;
    transition: 2s ease;
    pointer-events: none;
}
#snowbg {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}
#backBtn {
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 12px 26px;
    font-size: 18px;
    border: none;
    border-radius: 14px;
    background: linear-gradient(135deg, #ff55ffaa, #9955ffcc);
    color: white;
    cursor: pointer;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 14px #ff88ff;
    transition: 0.28s ease;
    z-index: 9999;
}

#backBtn:hover {
    box-shadow: 0 0 24px #ffbbff;
    transform: scale(1.09);
}
